.view {
  background: #f4f4f4;
  width: 300px;
  height: 100%;

  padding: 1.5rem;
  border-radius: 10px;

  display: none;
  flex-direction: column;
  gap: 1rem;

  @media (width >= 768px) {
    display: flex;
  }
}
