.task {
  background: #f4f4f4;
  font-size: 0.9em;
  position: relative;

  padding: 0.9rem;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  span {
    color: #a90f71;
  }

  > div {
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.taskCompleted {
  @extend .task;
  .content {
    text-decoration: line-through;
  }
}
